:root {
    --theme: ☀️;
    color-scheme: light;
    
    @media (prefers-color-scheme: dark) {
        --theme: 🌙;
        color-scheme: dark;
    }
}
:root:has([value="🌙"]:checked) {
    --theme: 🌙;
    color-scheme: dark;
}
:root:has([value="☀️"]:checked) {
    --theme: ☀️;
    color-scheme: light;
}

body {
  --clr-body-bg: hsl(0 0% 30%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);

  @container style(--theme: 🌙) {
     --clr-body-bg: hsl(0 0% 10%);
     --clr-card-bg: hsl(0 0% 5%);
     --clr-text: hsl(0 0% 90%);
     --clr-heading: hsl(0 0% 80%);
  }
}